# Dependency directories
node_modules/

# Environment variables file (if using dotenv)
.env

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Build directory (if you're running build scripts)
build/

# Coverage directory (if you're generating code coverage reports)
coverage/

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Mac OSX specific files
.DS_Store

# Windows specific files
Thumbs.db
